/*General setting*/

* {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: "Lato", sans-serif;
}

.header {
    width: 100%;
    display: inline-block;
    border-bottom:solid;
    border-bottom-color: #00AFAD ;
    text-align: center;
}

.navigation_bar {
    text-align: center;
    background-color: #00AFAD;
    
}

.navigation_bar a{
    font-size: 1.5em;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}

.button {
    background-color:#00AFAD;
    width: 100%;
    border: none;
    color:white;
    text-align: center;
    cursor:pointer;
}

footer {
    text-align: center;
    width: 100%;
    background-color: white;
    border-top : solid;
    border-top-color:black;

}

.link_fb {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.mail {
    width: 20px;
    height: auto;
}


/* For mobile device */

@media only screen and (max-width:767px) {

.main_page {
    margin:1%;
}


h2 {
    text-align: center;
}

p {
    font-size: 14px;
    text-align: justify;
}

ul {
    text-align: justify;
    font-size: 14px;
}


#header_title {
    float:left;
    color: #00AFAD;

}

footer p {
    text-align: center;
}



}

/* Adapted for screen */

@media only screen and (min-width: 768px) {
body {
    margin:5% 20% 1% 20%;
    background-color: #eaeaea;
}

.main_page {
    background-color: white;
    padding: 2%;
    box-shadow:  0 2px 6px ;
}

#logo_header {
    float:left;
}

#header_title {
    text-align: center;
    margin: 50px 0 0 20px;
    float:left;
    color: #00AFAD;
}

.twitter_section {
    overflow-y: auto;

}

.first_section {
    display: inline-block;
    width: 100%;
}

.association_section_txt {
    width: 50%;
    float: left;
    padding:2%;
}

.association_section_media {
    width: 50%;
    float: right;
    padding:2%;

}

.second_section {
    display: inline-block;
    width: 100%;
}

.infos_news_media {
    width: 50%;
    float: left;
    padding:2%;
}

.infos_news_txt {
    width: 50%;
    float: right;
    padding:2%;
}

.third_section {
    display: inline-block;
    width: 100%;
}

.partenaire_section {
    width: 50%;
    float: left;
    padding:2%;
}

.adhesion {
    width: 50%;
    float: right;
    padding:2%;
}

}

