/*General setting*/

/** {
    box-sizing: border-box;
}*/

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: "Lato", sans-serif;
}

.header h1 {
    color: #00AFAD ;
}

.navigation_bar {
    text-align: center;
    background-color: #00AFAD;
    
}

.navigation_bar a{
    font-size: 1.5em;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}

.button {
    background-color:#00AFAD;
    border: none;
    color:white;
    cursor:pointer;
}

footer {
    text-align: center;
    width: 100%;
    background-color: white;
    border-top : solid;
    border-top-color:black;

}

.link_fb {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.submitBtn {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.mail {
    width: 20px;
    height: auto;
}


/* For mobile device */

@media only screen and (max-width:767px) {



/*.main_page {
    margin:1%;
}*/


h2 {
    text-align: center;
}

.header {
    text-align: center;
}

.contact {
    display:none;
}

p {
    font-size: 14px;
    text-align: justify;
}

ul {
    text-align: justify;
    font-size: 14px;
}


#header_title {
    float:left;
    color: #00AFAD;

}

footer p {
    text-align: center;
}



}

/* Adapted for screen */

@media only screen and (min-width: 768px) {

html, body {
    margin: 0
    }

.header {
    display:flex;
    justify-content: center;
    position:relative
}

.navigation_bar {
    padding: 10px 0;
    
}

.header h1 {
    padding-top: 40px;
    padding-right: 10px;
}

.contact {
    margin-top: 10px;
}


.contact p {
    display: inline-block;
    padding: 0 0 0 10px;
    margin: 10px 0;
}

.mail {
    margin-block: -5px;
}

.corps {
    padding: 0 21%;
}
